<div class="services-section" style="    
                                width: 100vw;
                                height: 80vh;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;
                                align-items: center;">
<div class="card border-light card-heading-section" style="background-color: transparent;">
    <div class="card-body">
        <div class="row row-cols-2" style="    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;">

            <div class="col-6">
                <img style="float: left; border-radius: 100pc;width: 30vw;"  src="/website/assets/img/2.jpg" alt=""/>
            </div>

            <div class="col-5">
                <h5 class="card-title">The Second Heading <span class="text-muted"> Is Pretty Cool Too. </span></h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium perspiciatis voluptatum odit expedita totam, aliquid temporibus accusantium voluptatem repellat natus illo harum laboriosam officiis omnis voluptatibus quisquam alias aliquam rem?</p>
            </div>
            
        </div>
    </div>
  </div>